<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer Summary - PPC Telesales</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">

  </head>
  <body>
    <div class="btn-taskbar">
      <span>Buttons:</span>
      <a class="btn-link" href="javascript:history.go(-1)">Back</a>
      <a class="btn-link" href="/new-application">New application</a>
      
      <a class="btn-link" href="/user-details">Use details</a>
      <a class="btn-link" href="/reissue">Reissue</a>
      <a class="btn-link" href="/">Cancel</a>
      <a class="btn-link" href="/history-full-patient">History</a>
      <a class="btn-link" href="/adhoc-card-payment">Adhoc Card Payment</a>
      <a class="btn-link" href="/card-refund">Card Refund Payment</a>
    </div>
    <img class="img-full" src="images/ppc-screens/ppct-003-customer-summary.png" alt="" />
  </body>
</html>
